<template>
  <section class="text-center">
    <h1>About Me.</h1>
    <div class="row">
    <div class='col-lg-7'>
      <div class='card'>
        <div class="card-header">
          <h3>My skill-set:</h3>
        </div>
        <div class="card-body">
          <ol class="text">
            <li class="btn-outline-dark" v-for="skill in skills" v-bind:key="skill.id">{{ skill }}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class='col-lg-5'>
      <div class='card'>
        <div class="card-header">
          <h3>Technologies that I have worked with:</h3>
        </div>
        <ol class='text'>
          <li class="btn-outline-dark" v-for="library in libraries" v-bind:key="library.id">{{library}}</li>
        </ol>
      </div>
      </div>
      <div class="personal col-lg-7">
        <div class="card ">
          <div class="card-header">
          <h3> Personal set:</h3>
        </div>
        <div class="card-body">
          <p>Love creating Web-apps plain and simple.</p>
          <p>Always earger to learn something new so as to keep on working towards self-Improvement.</p>
          <p>has to be key point.</p>
        </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: () => {
    return {
      skills: [
        'Website Development',
        'Front-end Development',
        'Back-end Development',
        'Fullstack Web Deveopment'
      ],
      libraries: [
        'Vue.js',
        'React.js',
        'Github',
        'Git',
        'TypeScript',
        'Axios.js',
        'Ajax.js',
        'React-router',
        'Vue-router',
        'React-cli',
        'Node.js',
        'Html5',
        'Css3',
        'Es6 Javascript',
        'Npm',
        'Terminal',
        'Vue-cli 3',
        'Bootstrap',
        'Express',
        'MongoDb',
        'Mongoose',
        'Jquery',
        'Ejs',
        'Loadash'
      ]
    }
  }
}
</script>
<style scoped>
h1{
  font-family: 'Times New Roman';
  font-size: 3.5rem;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 2;
}
.personal{
  position: absolute;
  top:700px;
  width: 730px;
}
.row {
  background-color: plum;
  color: black;
  text-align: center;
}
.text-center{
  text-align: center;
  padding: 2% 5%;
  background-color: plum;
}
.card{
  padding: 2%;
  margin: 10px;
}
.text {
  font-size: 1.5em;
  line-height: 1.5;
  list-style: none;
  padding: 3% 4%;
}
.btn-outline-dark{
  padding: 2%;
}
</style>
