<template>
  <section class="row">
    <div class="col-lg-12">
      <h1>Contact me</h1>
      <form method="post" action="" onsumbit={this.userData()}>
        <div class="form-group">
          <div class="form-element">
            <input type="text" class="form-control" v-model="formData.name" placeholder="Your name">
          </div>
          <div class="form-element">
            <input type="email" class="form-control" v-model="formData.email" placeholder="Email">
          </div>
          <div class="form-element">
            <input type="text" class="form-control" v-model="formData.title" placeholder="Title for your message">
          </div>
          <div class="form-element">
            <textarea type="textarea" rows="6" cols="50" class="form-control" v-model="formData.message" placeholder="Enter custom message here..."/>
          </div>
        </div>
          <button class="btn btn-outline-dark" type="submit">Contact Me</button>
      </form>
    </div>
    <div>
      <p>items in formdata: {{formData}}</p>
    </div>
  </section>
</template>
<script>
export default {
  data: () => {
    return {
      formData: {
        name: '',
        email: '',
        title: '',
        message: ''
      }
    }
  },
  methods: {
    userData (user) {
      const userFormData = this.formData
      console.log(userFormData)
      return userFormData // get data to send to email from user
    }
  }
}
</script>
<style scoped>
h1 {
  font-family: "Times New Roman";
  font-size: 3.5rem;
}
.form {
  align-items: center;
  justify-items: center;
}
.form-element {
  align-self: center;
  padding: 2% 15%;
}
.row {
  background-color: plum;
  margin: 0;
  color: black;
  text-align: center;
}
.btn{
  margin-bottom: 5%;
}
</style>
