<template>
  <section class="row">
        <div class="col-md-8 text-color">
          <h1 class="text-center bold-text">
            Hello, I am <span class="styled-name">Gideon Collins.</span>
          </h1>
          <p class="text-center padded-text">A Fullstack Javascript developer.</p>
        </div>
        <div class="col-md-4 relative">
          <!-- refactor to have a well spaced responsive image -->
          <!-- consider how image renders in small screen devices -->
          <!-- remember to change image to custom one -->
          <img class="img img-responsive" src="https://pbs.twimg.com/profile_images/1104341419655905281/8LCtINTu_400x400.jpg" alt="personal image to display here">
        </div>
  </section>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  components: { // add different components to home
  }
}
</script>
<style scoped>
.styled-name{
  font-family: sans-serif;
  font-size: 3.5rem;
}
.row{
  background-image: url('../assets/banner-home.jpg');
  background-color: plum;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin:0;
  opacity:0.8;
  width: 100%;
}
.text-color{
  color: white;
  padding-top: 4em;
}
.bold-text{
  font-family: 'Segoe UI', sans-serif;
  font-size: 3.5rem;
  margin-top: 2em;
}
.padded-text{
  font-family: Verdana;
  color: lightgoldenrodyellow;
  font-size: 2rem;
  margin: 6% 5%;
}
.relative{
  position: relative;
}

.img{
  width: 400px;
  opacity: 0.7;
  top:30vh;
  right: 20px;
  padding: 10%;
  border-radius: 50%;
}
</style>
