<template>
    <section class="row">
        <div class="col-lg-10">
            <h1>projects to be diplayed here. refactor with carousel</h1>
            <div class="jumbotron">
                <p class="text-center">
                    project 1 is almost conplete.
                </p>
                <p class="text-center"> project 2 is under way</p>
                <p class="text-center"> project 3 is thinking of making an express to do app</p>
                <p class="text-center"> project 4 is thinking of making music (Drum) app</p>
                <p class="text-center"> project 5 is too far ahead to not think off. just kidding</p>
            </div>
        </div>
    </section>
</template>
<style scoped>
.row{
    background-color: plum;
    color:black;
    margin:0;
    padding: 4% 3%;
    text-align: center;
    padding: 7% 15%;
}
</style>
