<template>
    <section class="row">
        <div class="footer">
            <P>Gideon Collins webite. &copy; 2019.</P>
        </div>
    </section>
</template>

<style scoped>
.row{
    justify-content: center;
    background-color:purple;
    color:white;
    padding: 2%;
    margin: 0;
}
</style>
