<template>
    <section class="navbar navbar-expand-md custom-nav">
        <router-link to="/" class="nav-brand linked-nav">Gideon Collins</router-link>
        <button class="navbar-toggler" type="btn btn-primary" data-toggle="collapse" data-target="#togglenavbar" aria-controls="togglenavbar" aria-expanded="false" aria-label="Toggle my navbar">
          <font-awesome-icon icon="bars" class="fa-2x"/>
            <!-- <span class="navbar-toggler-icon">~~~</span> <br/>
            <span class="navbar-toggler-icon">~~~</span> <br/> -->
            <!-- add font awesome icons to website for more appealing look done -->
            <!-- its really plain to use symbols in place -->
        </button>
        <div class="collapse navbar-collapse" id="togglenavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><router-link to="/about" class="nav-link linked-nav">About</router-link></li>
                <li class="nav-item"><router-link to="/projects" class="nav-link linked-nav">Projects</router-link></li>
                <li class="nav-item"><router-link to="/contact" class="nav-link linked-nav">Contact Me</router-link></li>
            </ul>
        </div>
    </section>
</template>
<style scoped>
.container{
    margin: 0;
    padding:0;
}
.custom-nav{
    background-color: purple;
    padding: 2% 2%;
}
.linked-nav{
    color: white;
    text-decoration:none
}
.nav-brand{
    font-family: Tahoma;
    font-style: italic, bold;
    font-size: 1.5rem;
}
</style>
