<template>
  <div id="app" class="container-fluid">
      <header-component/>
      <router-view/>
      <footer-component/>
  </div>
</template>
<script>
import HeaderComponent from '@/components/Header.vue'
import FooterComponent from '@/components/Footer.vue'
export default {
  name: 'app',
  components: {
    HeaderComponent,
    FooterComponent
  }
}
</script>
<style>
/* @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Sans|Roboto'); */
#app {
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding:0;
  color:black;
}
</style>
